* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*COMMON STYLES*/
.content-tab {
  width: 72%;
}
.text-Heading {
  background: linear-gradient(to left, #db36a4 76%, #f7ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-Normal {
  font-size: 32px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font-charm {
  font-family: "Charm", cursive;
}
.font-staat {
  font-family: "Staatliches", cursive;
}
hr {
  height: 8px;
  background-color: red;
  background-image: linear-gradient(to left, #db36a4 76%, #f7ff00);

  border: 0;
  height: 5px;
}
a {
  text-decoration: none;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

body {
  background: #ffffff;
  overflow: hidden;
}

.container {
  position: relative;
}

.card {
  background: #ffffff29;
  border-radius: 2px;
  height: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 15%);
  box-shadow: 4px -5px 6px rgba(0, 0, 0, 0.16), 6px 3px 6px rgba(0, 0, 0, 0.23);
}
.border {
  position: absolute;
  width: 10px;
  height: 100%;

  background-size: 400% 400%;
}
/* IMAGE PART */
.wall-wrap {
  width: 100%;
  height: 10px;
  background: linear-gradient(to left, #efc43c 16%, #db36a4);
}
.text-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background: #333;
  padding: 5px 25px;
  font-family: "Concert One";
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-left: 10px solid #1e1e1e;
  border-left-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #f3db2a, rgb(220, 62, 156)) 1 100%;
  z-index: 88888;
}
.text-wrapper {
  padding: 10px;
  border: 1px solid #505052;
  background: #000000;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
div#picture {
  height: 100%;
  border: 5px solid white;
}

.left {
  top: 15%;
  left: 10%;
  background: #f7ff00;
  background: -webkit-linear-gradient(to bottom, #f7ff00, #db36a4);
  background: linear-gradient(to bottom, #f7ff00, #db36a4);
  -webkit-animation: BorderGradientLeft 15s ease infinite;
  -moz-animation: BorderGradientLeft 15s ease infinite;
  animation: BorderGradientLeft 15s ease infinite;
}
.right {
  top: 15%;
  right: 10%;
  background: linear-gradient(to bottom, #db36a4, #f7ff00);
  -webkit-animation: BorderGradientRight 15s ease infinite;
  -moz-animation: BorderGradientRight 15s ease infinite;
  animation: BorderGradientRight 15s ease infinite;
}
.right::before {
  position: absolute;
  width: 10px;
  height: 100%;
  left: 20px;
  background: #c5c8d4;
}

/* SWITCHER */
.container-switcher {
  position: absolute;
  top: 28%;
  left: 2.8%;
}
.switch {
  align-self: center;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  display: none;
}
.switch input:checked + .slider {
  background-color: #eee;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  background: #303030;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313949;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  background-color: #fff;
}

/* MENU */

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -150%;
  background-image: linear-gradient(
    -45deg,
    #f13772,
    #ff9901,
    rgba(255, 0, 0, 0) 80%
  );
  z-index: 99999;
  border: 3px solid white;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: linear-gradient(
    -45deg,
    #f13772,
    #ff9901,
    rgba(255, 0, 0, 0) 80%
  );
  width: 95%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0.04), translateY(9999px);
  transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}

.wrapper.open {
  top: 0;
  -webkit-animation: menu-animation 0.8s ease-out forwards;
  animation: menu-animation 0.8s ease-out forwards;
}
.menu {
  position: fixed;
  right: 5%;
  top: 5%;
}
.svg-wrapper {
  position: relative;
  width: 200px;
  cursor: pointer;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -290;
  stroke-width: 2px;
  fill: transparent;
  stroke: white;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: "Staatliches";
  font-size: 20px;
  letter-spacing: 8px;
  color: #fff;
  top: -42px;
  position: relative;
  text-shadow: 0px 1px 9px #333333;
}

.svg-wrapper:hover .shape {
  stroke-width: 6px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
.svg-wrapper:hover #logo {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}
#logo {
  position: fixed;
  left: 0%;
  width: 72%;
  height: 100%;
  /* background: url(pic/logo.png);
  background-color: #000000b5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  background-color: #ff000061;
  transition: all ease-in-out 1s;
}
#logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: #333;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    /* -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    transition: ease-out; */
  }
  40% {
    /* -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0); */
  }
  60% {
    /* opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px); */
  }
  61% {
    /* -webkit-transform: scale(0.04);
    transform: scale(0.04); */
  }
  99.9% {
    /* height: 0;
    padding-bottom: 100%;
    border-radius: 100%; */
  }
  100% {
    /* -webkit-transform: scale(1);
    transform: scale(1);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0; */
  }
}

@keyframes BorderGradientLeft {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes BorderGradientRight {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
/** SVG **/
.svgSide {
  display: inline-block;
  position: absolute;
}
.Container-1 {
  left: -19%;
  top: -55%;
}
.Container-2 {
  left: -19%;
  top: -55%;
}
.Container-3 {
  left: -19%;
  top: -55%;
}

.wrap {
  perspective-origin: 50% 50%;
}
.svg {
  stroke: $green;
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}
/** TOOGLE **/

.toggle {
  position: absolute;
  top: 18%;
  left: 3%;
  width: 40px;
  height: 40px;
  padding: 1%;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
span.toggle-menu {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 1%;
  background-image: url("./pic/icons/close.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#Toggle-menu {
  background-image: url("./pic/icons/menu.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

/** CONTENT **/
.content-tab {
  position: relative;
  width: 72%;
  height: 100%;
  overflow: hidden;
}
.tab {
  padding: 30px;
}

.tab.project {
}
#projectScroll {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

#projectScroll::-webkit-scrollbar {
  width: 0.5em;
}

#projectScroll::-webkit-scrollbar-track {
  border-radius: 0.625em;
}

#projectScroll::-webkit-scrollbar-thumb {
  border-radius: 0.625em;
  background: #c5c8d4;
}

/** TAB 1 */
.bottom-bio {
  position: absolute;
  width: 90%;
  font-family: "Staatliches";
  color: #000000;
  text-align: center;
}
h1 {
  font-size: 2.5em;
  letter-spacing: 1px;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  background: #313131;
  border: 2px double #ffffff;
  color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 70%;
}
.ribbon {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 1.5em;
}
.Heading {
  font-size: 1.5em;
  letter-spacing: 5px;
}

.bio {
  font-size: 1em;
  color: #343e67;
  text-shadow: 1px 1px 1px #00000045;
  letter-spacing: 1px;
  word-spacing: 3px;
}

/*TAB 2*/
/*TAB 3*/
/*TAB 4*/
.contact-form {
  width: 50%;
  margin: 0 auto;
}
input,
textarea {
  display: block;
  width: 100%;
  font-size: 100%;
  line-height: 1.15;
  padding: 0.5em;
  border: 2px solid #ffffff;
  border-bottom-right-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.label {
  font-weight: bolder;
  letter-spacing: 5px;
}
.form-group {
  margin-bottom: 20px;
}

/* BIO TEXT */

.blink-text {
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: white;
}
.funct {
  color: #a7925a;
}
.const {
  color: #5297ec;
}
.const-text {
  color: #809bbd;
}
.code-text {
  padding-left: 2em;
  text-align: start;
}
.intro-text {
  display: contents;
  float: right;
  color: #a8aec7;
  font-size: 14px;
}
.intro-link {
  color: #e8ac04;
  text-decoration: underline;
}
.return {
  color: red;
}
.return-text {
  color: #809bbd;
}
.anil {
  color: #000000;
  background: linear-gradient(to left, #ff936a 16%, #db36a4);
  padding: 0 5px;
  border: 1px solid white;
  font-family: monospace;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* PROJECT */
.tab.project > h3 {
  margin: 1em;
  color: #c5c8d4;
  font-family: monospace;
  background: #333;
  padding: 0.2em 1em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#columns {
  width: 95%;
  max-width: 1100px;
  margin: 0px auto;
}

div#columns figure {
  width: 100%;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 2px 15px;
  padding: 10px;
  transition: opacity 0.4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
  height: auto;
  padding-right: 1em;
  border-right: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.5;
  float: right;
  width: 75%;
}
div#columns figure figcaption > h3 {
  margin: 1em;
  color: #c5c8d4;
  font-family: monospace;
  text-align: right;
}
div#columns figure figcaption > p {
  text-align: right;
  color: #e1409b;
  font-family: monospace;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 1em;
}
div#columns figure figcaption > p > span {
  transition: ease-in-out;
  animation: shadow-pulse 1s infinite;
  border-radius: 3px;
  padding: 5px;
}
div#columns figure figcaption > p > span:hover {
  background-color: #333;
}
div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: 0.4s color;
}

div#columns:hover figure:not(:hover) {
  opacity: 0.4;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@media screen and (max-width: 750px) {
  #columns {
    column-gap: 0px;
  }
  #columns figure {
    width: 100%;
  }
}
/* SKILLS */
.skill-list {
  position: relative;
  top: 0;
  left: 30%;
  bottom: 0;
}
.skill {
  position: relative;
}
.skill > span {
  color: #ffffff;
  background: linear-gradient(to left, #ff936a 16%, #db36a4);
  padding: 0 15px;
  border: 1px solid white;
  font-family: monospace;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.angular {
  font-size: 2.5em;
}
.angularjs {
  font-size: 2em;
  left: 20%;
}
.skill.javascript {
  left: 5%;
  font-size: 3em;
}
.skill.typescript {
  left: 8%;
  font-size: 2em;
}
.skill.jquery {
  left: 3%;
  font-size: 1.8em;
}
.skill.bootstrap {
  left: 25%;
  font-size: 1.2em;
}
.skill.html,
.skill.css {
  font-size: 1.5em;
  left: 18%;
}
.tools {
  text-align: right;
}
.skill > h3 {
  margin: 1em;
  color: #c5c8d4;
  font-family: monospace;
  background: #333;
  padding: 0.2em 1em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill > p.h3 {
  margin: 1em;
  color: #c5c8d4;
  font-family: monospace;
  background: #333;
  padding: 0.2em 1em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.tools > span {
  color: #000000;
  background: linear-gradient(to left, #ff936a 16%, #db36a4);
  padding: 0 15px;
  border: 1px solid white;
  font-size: 1.5em;
  font-family: monospace;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* EMAIL */

#contact {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  font: 300 60px "Oswald", sans-serif;
  letter-spacing: 6px;
  color: #c5c8d4;
  margin-bottom: 25px;
}
#contact > h3 {
  margin: 1em;
  color: #c5c8d4;
  font-family: monospace;
  background: #333;
  padding: 0.2em 1em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
  margin: 0 auto;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #333;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px "Lato", sans-serif;
  letter-spacing: 2px;
}

/* ICON WRAPPER TEXT CONTAINER */
.icon-wrapper {
  position: relative;
  text-align: center;
  padding: 1em;
}
.icon-wrapper > div {
  display: inline-block;
}

/* Icons */

.icon-wrapper > div > a {
  color: #fff;
  background: #000000;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 12px;
  margin: 0 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

.icon-wrapper > div > a:hover {
  background: linear-gradient(to left, #ff936a 16%, #db36a4);
}

/* pop-up text */

.icon-wrapper > div > a span {
  color: #666;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* font awesome icons */

.icon-wrapper > div > a:nth-of-type(1):before {
  content: "";
  background-image: url("./pic/icons/github.png");
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20%;
  top: 20%;
}
.icon-wrapper > div > a:nth-of-type(2):before {
  content: "";
  background-image: url("./pic/icons/linkedin.png");
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20%;
  top: 20%;
}
.icon-wrapper > div > a:nth-of-type(3):before {
  content: "";
  background-image: url("./pic/icons/twitter.png");
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20%;
  top: 20%;
}
.icon-wrapper > div > a:nth-of-type(4):before {
  content: "";
  background-image: url("./pic/icons/pinterest.png");
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20%;
  top: 20%;
}
.icon-wrapper > div > a:nth-of-type(5):before {
  content: "";
  background-image: url("./pic/icons/soundcloud.png");
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20%;
  top: 20%;
}
.icon-wrapper > div > a:nth-of-type(6):before {
  content: "";
  background-image: url("./pic/icons/google-plus.png");
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20%;
  top: 20%;
}
.icon-wrapper > div > a:nth-of-type(7):before {
  content: "";
  background-image: url("./pic/icons/instagram.png");
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20%;
  top: 20%;
}
.icon-wrapper > div > a:nth-of-type(8):before {
  content: "";
  background-image: url("./pic/icons/facebook.png");
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20%;
  top: 20%;
}
.icon-wrapper > div > a:nth-of-type(9):before {
  content: "";
  background-image: url("./pic/icons/skype.png");
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20%;
  top: 20%;
}

/* H3 STYLE AFTER BEFORE */
h3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 12%;
  z-index: -1;
  background: black;
}
h3::before {
  position: absolute;
  width: 100%;
  top: 12%;
  height: 2px;
  z-index: -4;
  background: #ff5b97;
}

.skill > p.h3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 78%;
  z-index: -1;
  background: black;
}
.skill > p.h3::before {
  position: absolute;
  width: 100%;
  top: 78%;
  height: 2px;
  z-index: -4;
  background: #ff5b97;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container,
  .form-horizontal {
    float: none;
    margin: 10px auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .section-header {
    font-size: 50px;
  }
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

/* RESPONSIVE DEFAULT */
@media (min-width: 281px) and (max-width: 767px) {
  .card {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(0%, 0%);
  }
  .bio {
    font-size: 0.8em;
  }
  .text-container {
    display: none;
  }
  .tab {
    padding: 15px;
  }
  .tab.email {
    padding: 30px;
  }
  h1 {
    font-size: 1.5em;
    margin-top: 20px;
  }
  h3::after {
    display: none;
  }
  h3::before {
    display: none;
  }
  .skill > p.h3::before {
    display: none;
  }
  .skill > p.h3::after {
    display: none;
  }
  .content-tab {
    width: 100%;
    overflow-y: scroll;
  }
  .left {
    top: 0%;
    left: 0%;
  }
  .border.right {
    display: none;
  }
  .toggle {
    top: 6%;
    left: 89%;
    z-index: 88888;
    width: 25px;
    height: 25px;
    background: white;
  }
  .menu {
    right: 22%;
    top: 10%;
  }
  span.toggle-menu {
    right: 3px;
    top: 15px;
    width: 25px;
    height: 25px;
    z-index: 99999;
  }
  #logo {
    display: none;
  }
  .wrapper {
    background-image: linear-gradient(
      -76deg,
      #f13772,
      #ff9901,
      rgba(255, 0, 0, 0) 116%
    );
  }
  .skill-list {
    left: 10%;
  }
  .skill.javascript {
    font-size: 2.5em;
  }
  .skill > p.h3 {
    margin-top: 5em;
  }
  .tools {
    text-align: center;
  }
  div#columns figure img {
    width: 75px;
    height: 75px;
  }
  div#columns figure figcaption {
    font-size: 0.5em;
    width: 50%;
  }
  #contact {
    padding-bottom: 0px;
  }
  .contact-wrapper {
    margin-top: 20px;
  }
  .send-button {
    width: 50%;
    margin-top: 25px;
    float: right;
  }
  .container-switcher {
    top: 10%;
    right: 0.8%;
    left: auto;
    z-index: 9999;
  }
  .switch {
    width: 40px;
    height: 20px;
  }
  .slider:before {
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
  }
}
